version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_fastapi
    env_file:
      - ./.env
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    restart: unless-stopped
