name: Lint Code

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install linters
        run: pip install black flake8 isort

      - name: Run Black
        run: black --check .

      - name: Run Flake8
        run: flake8 .

      - name: Run isort
        run: isort --check-only .
